<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Join the club</h1>

    <form method="post" action="/join_club" id="become-a-member-form"> 
        <p>What is the name of the last foundations project within The Odin Project (TOP) ???</p>
        <label>Your Answer:</label>
        <input type="text" name="memberPassword">
        <button type="submit">Submit</button>
    </form>

    <script> 
    
    const correctPassword = 'calculator';


    </script>


<a href="/">Back to home</a>


</body>
</html>