<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Form</title>
</head>
<body>
    
    <h1>Sign Up</h1>
    <form method="post" action="/create_user">
      <label for="firstname">First Name</label>
      <input name="firstName" placeholder="First Name" type="text" value="<% user.firstName %>" />
      <label for="lastname">Last Name</label>
      <input name="lastName" type="text" value="<% user.lastName %>" />
      <label for="email">E-Mail</label>
      <input name="email" type="email" value="<% user.email %>" />
      <label for="password">Password</label>
      <input name="password" type="password" value="<% user.password %>" />
      <label for="confirm-password">Confirm Password</label>
      <input name="confirm-password" type="password" value="<% user.password %>" />
      
      <!-- <label for="membershipStatus">Membership Status</label>
      <select>
        <option value="Member" name="membershipStatus">Member</option>
        <option value="Not a member" name="membershipStatus">Not a member</option>
      </select> -->

      <button type="submit">Sign Up</button>
    </form>



</body>
</html>